[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}


#question {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 100px;
}

#answers {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  padding: 0 350px;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>


<div class="section" id="vue-target" v-cloak>
  <!-- Put here your Vue.js template -->

  <h1 class="pollarTitle">Pollar.io</h1>

  <template v-for="r in qa">
    <div class="centered-content" id="vue-target" v-cloak>
      <div id="question">{{r.question}}</div>
      <a id="answers" href="[[=URL('second_page')]]">
        <button class="answer button is-link" @click="submitAnswer(r.id, 1)">{{r.answer1}}</button>
        <button class="answer button is-danger" @click="submitAnswer(r.id, 2)">{{r.answer2}}</button>
        <button class="answer button is-success" @click="submitAnswer(r.id, 3)">{{r.answer3}}</button>
        <button class="answer button is-warning" @click="submitAnswer(r.id, 4)">{{r.answer4}}</button>
      </a>
    </div>
  </template>

  <button class="answer button is-warning" @click="get_next_question()">NEXT QUESTION</button>
</div>

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interactive US Map</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/mapstyle.css">
</head>
<body>
  <div id="details-box"></div>

  <div id="map-container"></div>

  <script>
    // Fetch the SVG file
    fetch('us.svg')
      .then(response => response.text())
      .then(svgData => {
        // Inject the SVG code into the map container
        document.getElementById('map-container').innerHTML = svgData;
      })
      .catch(error => {
        console.error('Failed to fetch SVG file:', error);
      });
  </script>

  <script>
    var tooltipSpan = document.getElementById('details-box');

    document.addEventListener('mouseover', function (e) {
        if (e.target.tagName == 'path') {
            var content = e.target.dataset.name;
            document.getElementById("details-box").innerHTML = content;
            document.getElementById("details-box").style.opacity = "100%";
        }
        else {
            document.getElementById("details-box").style.opacity = "0%";
        }
    });

    window.onmousemove = function (e) {
        var x = e.clientX,
            y = e.clientY;
        tooltipSpan.style.top = (y + 20) + 'px';
        tooltipSpan.style.left = (x) + 'px';
    };
</script>

</body>
</html>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let my_callback_url = "[[=XML(my_callback_url)]]";
  let get_qa_url = "[[=XML(get_qa_url)]]";
  let get_state_url = "[[=XML(get_state_url)]]";
  let submit_answer= "[[=XML(submit_answer)]]";
  let get_next_question_url= "[[=XML(get_next_question_url)]]";
</script>
<script src="js/index.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.1.0/svg.min.js"></script>
[[end]]